@media (max-width: 991px) {
    .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    .row .contentWrapper {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .row .imgWrapper img {
        max-width: 400px;
    }
    .row {
        width: 90%;
        grid-template-columns: 1fr;
        text-align: center; 
    }

    .row .contentWrapper {
        padding: 20px;
        padding-right: 0;
        text-align: center;
    }

    .row .contentWrapper h1 {
        font-size: 70px;
    }
    
    .row .contentWrapper p {
        line-height: 24px;
}
    
    #conversionResult {
        font-size: 20px;
}
    
    #frontPage {
        padding: 30px;
    }
    
    .row {
        width: 100%;
        max-width: 500px;
        grid-gap: 30px;
    }
}

@media (max-width: 575px) {
    .row .imgWrapper img {
        max-width: 300px;
        
    }

    .row .contentWrapper h1 {
        font-size: 50px;
    }
    
    .row .contentWrapper p {
        font-size: 15px;
        line-height: 22px;
}
    .row .contentWrapper a {
        font-size: 15px;
        line-height: 22px;
    }       

    .footer-content h3 {
        font-size: 1.1rem;
    }
    
    .footer-content p {
        font-size: 12px;
    }
    
    .socials li {
        margin: 0 10px;
    }
    
    .socials a i {
        font-size: 20px;
    }
    
    .footer-bottom {
        padding: 10px 0;
    }
    
    .footer-bottom p {
        font-size: 12px;
    }
}