@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Base Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
}

/* Variables */
:root {
    /* Color Variables */
    --white: #FAFAF8;
    --black: #343A40;
    --primary-color: #71B64F;
    --accent-color: #0DA8A8;
    --complementary-color: #0C535C;
    --shadow: #5c5c5c83;


    /* Font Variables */
  --font-family: 'Roboto', sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-regular);
    background-color: var(--white);
    color: var(--black);
  }

nav {
    background-color: var(--black);
    box-shadow: var(--shadow);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--white)
}

nav li:first-child {
    margin-right: auto;
}

/* main text and image */
#cover {
    background-color: var(--white);
    text-align: right;
    width: 100%;
}

#frontPage {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.row {
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.imgWrapper {
    max-width: 100%; /* Ensure wrapper takes full width available */
}

.row .imgWrapper img {
    max-width: 500px;
    height: auto;
    padding-bottom: 10px;
    transition: 0.3s;
}

.row .imgWrapper:hover img {
    transform: scale(1.10);
}

.row .contentWrapper {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50%;
}

.row .contentWrapper h1 {
    background: linear-gradient(to right, #71B64F, #325023);
    background-clip: text;
    color: transparent;
    font-weight: var(--font-bold);
    font-size: 100px;
    padding-bottom: 20px;
}

.row .contentWrapper p {
    font-size: 16px;
    font-weight: var(--font-regular);
    line-height: 25px;
    padding-bottom: 20px;
}

.row .contentWrapper button {
    background-color: var(--accent-color);
    color: var(--white);
    font-weight: var(--font-medium);
    border-radius: 10px;
    padding: 15px;
}

.box {
    background-color: #f6f6f6;
    width: 80%;
    max-width: 1170px;
    height: 600px;
    padding: 20px;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
}